@page
@model PhuongTienDoNhom2.Pages.QuanLyToChucDonVi.QuanLyThietBiSuDungDeKDHCTN.IndexModel
@{
}

<div class="cus-form-general">
    <div class="titleTable">
        <div class="groupQuanLy">
            <div class="titlePage filterDT">
                <span class="TrangChu title-layout title-area">Quản lý thiết bị sử dung để KĐHCTN</span>
            </div>
        </div>
        <div class="text-right">
            <div class="group-button-action">
                <button type="button" class="btn btn-success" data-toggle="modal" id="ThemMoi">Thêm mới</button>
            </div>
        </div>
    </div>
    <div class="table-tree-wrapper table-pagination-outside">
        <div style="width:100%; margin:0 auto;">
            <table id="dataGrid" class="table-border row-border compact dataTable data-tableCustom" cellspacing="0">
                <thead>
                    <tr>
                        <th>Stt</th>
                        <th>Tên thiết bị</th>
                        <th>Nhóm thiết bị</th>
                        <th>Lĩnh vực</th>
                        <th>Số giấy chứng nhận</th>
                        <th>Thời hạn</th>
                        <th>Sử dụng</th>
                        <th>Chức năng</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

<!-- Modal add-->
<div class="modal fade" id="modalAdd" role="dialogDN" aria-hidden="true">
    <div class="modal-dialog modal-dialogDN" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="loai-hinh-title" id="modalLabelAdd">Thêm mới thiết bị sử dụng để KĐHCTN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Tổ chức KĐHCTN<span class="red-text"> *</span></label>
                        <select id="toChucAdd">
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Tên thiết bị<span class="red-text">*</span></label>
                        <input type="text" class="form-control" id="tenPhuongTienAdd" maxlength="200" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nhóm thiết bị<span class="red-text">*</span></label>
                        <select id="maNhom2Add"></select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nước sản xuất</label>
                        <select id="nuocSanXuatAdd"></select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Hãng sản xuất</label>
                        <input type="text" class="form-control" id="hangSanXuaAdd" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Thời gian sản xuất</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="thoiGianSanXuatAdd" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Thời gian sử dụng</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="thoiGianSuDungAdd" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Số sản xuất(Serial No)</label>
                        <input type="text" class="form-control" id="soSanXuatAdd" maxlength="50" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Kiểu, ký hiệu(Type)</label>
                        <input type="text" class="form-control" id="kieuKyHieuAdd" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Phạm vi đo</label>
                        <input type="text" class="form-control" id="phamViDoAdd" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Cấp/Độ chính xác</label>
                        <input type="text" class="form-control" id="capDoChinhXacAdd" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Quy trình sử dụng<span class="red-text">*</span></label>
                        <select id="quyTrinhSuDungAdd"></select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Lĩnh vực</label>
                        <input type="text" class="form-control" id="linhVucAdd" maxlength="100" disabled />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nơi kiểm định</label>
                        <input type="text" class="form-control" id="noiKiemDinhAdd" maxlength="200" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Số giấy chứng nhận</label>
                        <input type="text" class="form-control" id="soGiayChungNhanAdd" maxlength="50" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Ngày cấp</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="ngayCapAdd" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Ngày hết hạn</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="ngayHetHanAdd" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group radioCustom">
                        <label class="editor-label">Sử dụng</label>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="radio" id="hoatDongKieuAdd_True" name="fav_language" checked="true">
                                <label for="hoatDongKieuAdd_True">Sử dụng</label>
                            </div>
                            <div class="col-md-3">
                                <input type="radio" id="dungHoatDongKieuAdd_False" name="fav_language">
                                <label for="dungHoatDongKieuAdd_False">Không sử dụng</label>
                            </div>
                        </div>
                    </div>
                    <div class="group-button">
                        <label for="nhaXuatBanAdd" class="editor-label">Tệp đính kèm</label>
                        <div class="group-button-action btn-add-file">
                            <ul id="ul-file" class="cus-add-file"></ul>
                            <button type="button" class="btn btn-outline-blue" id="btn-AddFile">Chọn tệp</button>
                            <span class="dinhDang-file">.pdf | .docx | .xlsx</span>
                        </div>
                    </div>
                   
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-button-action">
                    <button type="button" class="btn btn-close-form btn-outline-primary" data-bs-dismiss="modal" id="btn-huy-KieuAdd">Hủy bỏ</button>
                    <button type="button" class="btn btn-submit-form btn-primary" id="btn-save-Add">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal detail-->
<div class="modal fade" id="modalDetail" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialogDN" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="loai-hinh-title" id="modalLabelAdd">Chi tiết thiết bị sử dụng KĐHCTN</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <h5 id="tenPhuongTienDetail"></h5>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Thuộc tổ chức:</label>
                        <label id="toChucDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Thuộc nhóm</label>
                        <label id="maNhom2Detail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Lĩnh vực:</label>
                        <label id="linhVucDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nước sản xuất:</label>
                        <label id="nuocSanXuatDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nơi kiểm định:</label>
                        <label id="noiKiemDinhDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Hãng sản xuất:</label>
                        <label id="hangSanXuatDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Quy trình sử dụng:</label>
                        <label id="quyTrinhSuDungDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Năm sản xuất:</label>
                        <label id="namSanXuatDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Số giấy chứng nhận:</label>
                        <label id="soGiayChungNhanDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Năm sử dụng:</label>
                        <label id="namSuDungDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Ngày cấp:</label>
                        <label id="ngayCapDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Số sản xuất(Serial No):</label>
                        <label id="soSanXuatDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Ngày hết hạn:</label>
                        <label id="ngayHetHanDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Kiểu, ký hiệu(Type):</label>
                        <label id="kieuKyHieuDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Tệp đính kèm:</label>
                        <label id="tepDinhKemDetailModel"></label><div id="downloadFileDetail"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Phạm vi đo:</label>
                        <label id="phamViDoDetail"></label>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Trạng thái:</label>
                        <label id="trangThaiDetail"></label>
                    </div>
                    <div class="col-md-6 form-group radioCustom">
                        <label class="editor-label">Cấp/Độ chính xác</label>
                        <label id="capDoChinhXacDetail"></label>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-button-action">
                    <button type="button" class="btn btn-close-form btn-outline-primary" data-bs-dismiss="modal" id="btn-huy-KieuAdd">Hủy bỏ</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal update-->
<div class="modal fade" id="modalUpdate" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialogDN" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="loai-hinh-title" id="modalLabelUpdate"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <input type="hidden" id="maPhuongTienUpdate" />
                <input type="hidden" id="tepKemTheoDetails" />
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Tổ chức KĐHCTN<span class="red-text"> *</span></label>
                        <select id="toChucUpdate">
                        </select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Tên thiết bị<span class="red-text">*</span></label>
                        <input type="text" class="form-control" id="tenPhuongTienUpdate" maxlength="200" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nhóm thiết bị<span class="red-text">*</span></label>
                        <select id="maNhom2Update"></select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nước sản xuất</label>
                        <select id="nuocSanXuatUpdate"></select>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Hãng sản xuất</label>
                        <input type="text" class="form-control" id="hangSanXuatUpdate" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Thời gian sản xuất</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="thoiGianSanXuatUpdate" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Thời gian sử dụng</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="thoiGianSuDungUpdate" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Số sản xuất(Serial No)</label>
                        <input type="text" class="form-control" id="soSanXuatUpdate" maxlength="50" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Kiểu, ký hiệu(Type)</label>
                        <input type="text" class="form-control" id="kieuKyHieuUpdate" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Phạm vi đo</label>
                        <input type="text" class="form-control" id="phamViDoUpdate" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Cấp/Độ chính xác</label>
                        <input type="text" class="form-control" id="capDoChinhXacUpdate" maxlength="100" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Quy trình sử dụng<span class="red-text">*</span></label>
                        <select id="quyTrinhSuDungUpdate"></select>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Lĩnh vực</label>
                        <input type="text" class="form-control" id="linhVucUpdate" maxlength="100" disabled />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Nơi kiểm định</label>
                        <input type="text" class="form-control" id="noiKiemDinhUpdate" maxlength="200" />
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Số giấy chứng nhận</label>
                        <input type="text" class="form-control" id="soGiayChungNhanUpdate" maxlength="50" />
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Ngày cấp</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="ngayCapUpdate" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 form-group">
                        <label for="tenTapChiAdd" class="editor-label">Ngày hết hạn</label>
                        <div class="input-group date datetimeLX">
                            <input type="text" class="form-control" placeholder="dd/MM/yyyy" id="ngayHetHanUpdate" autocomplete="off">
                            <div class="input-group-addon input-group-append">
                                <div class="input-group-text">
                                    <i class="icon icon-ic_fluent_calendar_24_regular icon-calendar"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 form-group radioCustom">
                        <label class="editor-label">Sử dụng</label>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="radio" id="hoatDongKieuAdd_TrueUpdate" name="fav_language1" checked="true">
                                <label for="hoatDongKieuAdd_TrueUpdate">Sử dụng</label>
                            </div>
                            <div class="col-md-3">
                                <input type="radio" id="dungHoatDongKieuAdd_FalseUpdate" name="fav_language1">
                                <label for="dungHoatDongKieuAdd_FalseUpdate">Không sử dụng</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 form-group" id="tepDinhKemDetail">
                        <label for="tenTapChiAdd" class="editor-label">Tệp đính kèm</label>
                        <ul id="list-file" class="group-button">
                        </ul>
                    </div>
                    <div class="group-button" id="tepDinhKemUpdate">
                        <label for="nhaXuatBanAdd" class="editor-label">Tệp đính kèm</label>
                        <div class="group-button-action btn-add-file">
                            <ul id="ul-fileUpdate" class="cus-add-file"></ul>
                            <button type="button" class="btn btn-outline-blue" id="btn-UpdateFile">Chọn tệp</button>
                            <span class="dinhDang-file">.pdf | .docx | .xlsx</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-button-action">
                    <button type="button" class="btn btn-close-form btn-outline-primary" data-bs-dismiss="modal" id="btn-huy-KieuAdd">Hủy bỏ</button>
                    <button type="button" class="btn btn-submit-form btn-primary" id="btn-save-Update">Lưu</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal confirm clear file*@
<div class="modal fade" id="modalUpdateFile" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-delete">
            <div class="modal-header">
                <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="warning" role="form">
                    <div class="modal-icon-delete">
                        <i class="icon icon-ic_fluent_delete_24_regular"></i>
                    </div>
                    <input type="hidden" class="form-control" id="idFileDelete">
                    <div class="notiDelDn">Bạn có chắc chắn muốn xóa file</div>
                    <h6 class="titleDnDelete" id="titleFileDel"></h6>
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-button-action">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="deleteFile" class="btn btn-unsetwidth btn-danger text-white">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* Modal delete*@
<div class="modal fade" id="modalDelete" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content modal-delete">
            <div class="modal-header">
                <button type="button" class="btn-close d-none" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="warning" role="form">
                    <div class="modal-icon-delete">
                        <i class="icon icon-ic_fluent_delete_24_regular"></i>
                    </div>
                    <input type="hidden" class="form-control" id="idDelete">
                    <div class="notiDelDn">Bạn có chắc chắn muốn xóa thiết bị</div>
                    <h6 class="titleDnDelete" id="titleDel"></h6>
                </div>
            </div>
            <div class="modal-footer">
                <div class="group-button-action">
                    <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Hủy bỏ</button>
                    <button type="button" id="btnDelete" class="btn btn-unsetwidth btn-danger text-white">Đồng ý</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/pages/QuanLyToChucDonVi/PhuongTienKiemDinh/Index.js"></script>
}
