@page "/AccessDenied"
@using QuanLyCayXanh.Areas.Identity.Pages.Account
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
    <p class="text-danger">Tài khoản bạn không có quyền</p>
</header>
